{% extends 'layout.html' %}
{% set active_page = 'routes' %}

{% block title %}Routes{% endblock %}

{% block content %}
<h1>Routes</h1>

<p>
    <a href="{{ url_for('new_route') }}" class="btn btn-primary">New Route</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <th>Address</th>
        <th>Service</th>
        <th></th>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr class="{% if route.is_orphan %}danger{% endif %}">
            <td>
                {% if route.is_orphan %}
                <span class="label label-danger" title="The service associated with this route does not exist">orphan</span>
                {% endif %}
                {{ route.source }} {{ route.path }}
            </td>
            <td>
                {{ route.target }}
                {% if route.port != 80 %}
                : {{ route.port }}
                {% endif %}
            </td>
            <td>
                {% include('routes/_btn-delete.html') %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}