{% extends 'layout.html' %}
{% set active_page = 'routes' %}

{% block title %}Routes{% endblock %}

{% block content %}
<h1>Routes</h1>

<p>
    <a href="{{ url_for('route_add') }}" class="btn btn-primary">New Route</a>
</p>

<table class="table table-bordered table-hover table-striped">
    <thead>
        <th>Hostname</th>
        <th>Path</th>
        <th>Service</th>
        <th colspan="2"></th>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr class="{% if route.is_orphan %}danger{% endif %}">
            <td>
                {% if route.is_orphan %}
                <span class="label label-danger" title="The service associated with this route does not exist">orphan</span>
                {% endif %}
                {{ route.host }}
            </td>
            <td>{{ route.path or '/' }}</td>
            <td>
                {{ route.target }}
                {% if route.port != 80 %}
                : {{ route.port }}
                {% endif %}
            </td>
            <td>
                <a href="{{ url_for('route_edit', route=route.host ~ route.path) }}"
                   class="btn btn-sm btn-primary">
                    <span class="glyphicon glyphicon-pencil"></span>
                </a>
            </td>
            <td>
                {% include('routes/_btn-delete.html') %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}