{% extends 'layout.html' %}

{% block title %}Routes{% endblock %}

{% block content %}
<h1>Routes</h1>

<p>
    <a href="{{ url_for('new_route') }}" class="btn btn-primary">New Route</a>
</p>

<table class="table table-bordered table-hover">
    <thead>
        <th>Hostname</th>
        <th>Service</th>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.source }}</td>
            <td>{{ route.target }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}