{% extends 'layout.html' %}
{% set active_page = 'routes-orphaned' %}

{% block title %}Orphaned Routes{% endblock %}

{% block content %}
<h1>Orphaned Routes</h1>

<p>
    Orphaned routes are routes pointing to services that does not exist
</p>

<table class="table table-bordered table-hover">
    <thead>
        <th>Host</th>
        <th>Path</th>
        <th>Service</th>
        <th></th>
    </thead>
    <tbody>
        {% for route in routes %}
        <tr>
            <td>{{ route.host }}</td>
            <td>{{ route.path }}</td>
            <td>{{ route.target }}</td>
            <td>
                {% include('routes/_btn-delete.html') %}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock content %}